.offer{
    &-cards{
        display: flex;
        flex-wrap: wrap;
    }
    &-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.Types{
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 30px;
        align-items: center;
        
      }
      a {
        @include astyle(none, $title-color, $main-color);
      }
    }